.c-carousel-home {

  .carousel-slider {

    .control-arrow {
      margin: 0 80px;

    }

    .control-arrow {
      display: none;
    }

    .slider-wrapper {
      .slider {

        .slide {

          background-color: transparent;

          .c-carousel-home {

            &__container {
              width: 77%;
              background-color: rgb(189, 210, 214);
              height: 79px;
              display: flex;
              justify-content: center;
              border-radius: 8px;
              box-shadow: rgba(0, 93, 114, 0.76);
              margin: 0 auto;
            }

            &__img {
              width: 48px;
              height: 48px;
              margin: 16px 24px 0 21px;
            }

            &__content-box {

            }

            &__title {
              font-family: 'Barlow', sans-serif;
              font-size: 16px;
              color: rgb(1, 116, 142);
              width: 81%;
              margin: 14px 0 8px;
              text-align: left;

            }

            &__text {
              font-family: 'Barlow', sans-serif;
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }

    }

    .control-dots {
      position: relative;
      top: 10px;
      left: -8px;

      .dot {
        width: 8px;
        height: 8px;
        background: rgb(250, 156, 147);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
      }
    }

    .carousel-status {
      display: none;
    }
  }

  .carousel {
    .thumbs-wrapper {
      display: none;
    }
  }
}
