.c-novedades {

  &__section-title {
    //margin-left: 5%;
    margin: 24px 5%;
    font-size: 16px;
    color: rgb(1, 116, 142);
  }

  &__item-box {
    width: 90%;
    margin: 0 auto 32px;
    background-color: rgb(250, 156, 147);
    border-radius: 5px;
  }

  &__img {
    width: 99%;
    margin: 1.5px 1px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__title {
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    bottom: 10px;
  }
}