.c-adoption-gallery{

  &__link{
    text-decoration: none;
  }

  &__container{
    position: relative;
    margin: 0 16px 32px;
    border: 2px solid rgb(189, 210, 214);
    border-radius: 4px;
  }

  &__img-fav{
    position: absolute;
    top: 5%;
    right: 5%;
  }

  &__img{
   width: 100%;
  }

  &__location{
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;

  }

  &__title{
   font-size: 25px;
    color: rgb(1,116,142);
    font-weight: bolder;
    margin: 0;
  }

  &__data{
    margin: 0;
    padding: 0;

  }

  &__city{
    margin: 0;
    font-size: 12px;

  }
}