.c-footer{
  display: flex;
  justify-content: space-around;
  border-color: rgba(0,0,0,0.8);
  padding: 12px;
  background-color: white;
  position: sticky;
  bottom: 0;
  width: 100%;

  &__img{
    width: 24px;
    height: 24px;
    object-fit: cover;
    &__profile-red {
      border-radius: 100%;
      border: 2px solid rgb(250, 156, 147);
    }
    &__profile-blue {
      border-radius: 100%;
      border: 2px solid rgb(1,116,142);
    }
  }

}