.p-animal-profile{
  width: 100%;
  margin: auto;
  &__header{

  }

  &__arrow {
    position: absolute;
    top: 42px;
    left: 30px;
    z-index: 1;
  }
  &__img{
    width: 100%;
  }

  &__info{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 60%;
    margin: 0 auto;
    border-radius: 4px;
    position: absolute;
    top: 30%;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
  }



  &__name{
    font-size: 16px;
    margin: 8px 0 4px;
  }

  &__city{
    font-size: 12px;
    margin-top: 2px;
  }

  &__icons{
    margin: 12px 4px 0;
  }

  &__tab-view{
     margin-top: 32px;
  }

  &__options{
    background-color: transparent;
    border: none;
    color: rgb(85,85,85);
    font-weight: normal;
  }

  &__articles{

  }

  &__characteristics{
    margin-top: 16px;
  }

  &__data{
    display: flex;
    justify-content: left;
    border-radius: 4px;
    margin-bottom: 16px;
  }

  &__data-img{
    margin-right: 8px;
  }

  &__data-property{
    font-size: 16px;
  }

  &__data-value{
    font-size: 16px;
    height: 13px;
    left: 95%;
    transform: translateX(-100%);
    margin-top: 4px;
    position: absolute;
    width: 20%;
    text-align: right;

    &--date-birth {
      width: 30%;
    }
  }

  &__personality{

  }

  &__personality-title{
    color: rgb(1,116,142);
    font-weight: bold;
    font-size: 16px;
    margin: 32px 0;
  }

  &__personality-desc-conatiner{
    display: flex;
    flex-wrap: wrap;
  }

  &__personality-desc{
    color: white;
    background-color: rgb(1,116,142);
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    padding:5px 10px;
    margin: 4px;
  }

  &__history{
    border: 1px solid rgba(211,211,211, 0.5);
    border-radius: 4px;
    margin-top: 32px;
    padding-top: 12px;
    padding-left: 8px;
  }

  &__history-title{
    color: rgb(1,116,142);
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
  }

  &__adoption-title{
    color: rgb(1,116,142);
    font-weight: bold;
    font-size: 16px;
    margin-top: 8px;
    display: flex;

  }

  &__help{
    margin-left: 8px;
  }
  &__history-desc{


  }

  @import "src/styles/block/block.adoption.button";
}

.p-tabview .p-tabview-nav li a{
  background-color: transparent;
  border: none;
  color: rgb(85,85,85);
  font-weight: normal;
}

.p-tabview .p-tabview-nav li a:focus{
  box-shadow: none;
  border-bottom: 2px solid rgb(250,156,147);
  margin-bottom: -1px;
}

.p-tabview-title{
  font-size: 16px;
}

.p-tabview-nav{
  display: flex;
  justify-content: space-around;
  padding-left: 6%!important;
}

body .p-tabview .p-tabview-panels{
  border: none;
}

